/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Gaya untuk header */
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 36px;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Gaya untuk main content */
main {
    padding: 20px;
    background-color: #fff;
    max-width: 1200px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Gaya untuk gambar */
main img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #2c3e50;
    color: white;
}

table tbody tr:nth-child(odd) {
    background-color: #f4f4f4;
}

table tbody tr:hover {
    background-color: #eaeaea;
}

/* Gaya untuk form kontak */
section .contact-form {
    margin-top: 20px;
}

.contact-form fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.contact-form legend {
    font-weight: bold;
    font-size: 18px;
    color: #2c3e50;
}

.contact-form label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #34495e;
}

/* Gaya untuk footer */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

footer a:hover {
    color: #f39c12;
}
